@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html,
body,
#root,
.app {
    height: auto;
    width: 100%;
    font-size: 100%;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

body a {
    transition: transform 0.25s;
    letter-spacing: 1px;
}

body a:hover {
    transform: scale(1.01);
}

body::-webkit-scrollbar {
    width: 0.75em;
    outline: none;
}

body::-webkit-scrollbar-track {
    background: #070812;
}

body::-webkit-scrollbar-thumb {
    background: #4d547d;
    border-radius: 100vw;
}

body::-webkit-scrollbar-thumb:hover {
    background: #4d547d;
}

/* Network related styles */

.header {
    height: 45px;
    line-height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    background: rgba(221, 221, 221, 0.92);
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 60px;
}

.org-tree ul {
    padding-top: 20px;
    position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.org-tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.org-tree li::before,
.org-tree li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.org-tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

.org-tree li:only-child::after,
.org-tree li:only-child::before {
    display: none;
}

.org-tree li:only-child {
    padding-top: 0;
}

.org-tree li:first-child::before,
.org-tree li:last-child::after {
    border: 0 none;
}

.org-tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.org-tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

.org-tree ul ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

/* Responsiveness */

@media screen and (prefers-reduced-motion: reduce) {
    * {
        scroll-behavior: auto;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 95%;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 90%;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 85%;
    }
}