@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html,
body,
#root,
.app {
    height: auto;
    width: 100%;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

body a {
    transition: transform 0.25s;
    letter-spacing: 2px;
}

body a:hover {
    transform: scale(1.01);
}