@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html,
body,
#root,
.app {
    height: auto;
    width: 100%;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

body a {
    transition: transform 0.25s;
    letter-spacing: 1px;
}

body a:hover {
    transform: scale(1.01);
}

body::-webkit-scrollbar {
    width: 0.75em;
    outline: none;
}

body::-webkit-scrollbar-track {
    background: #070812;
}

body::-webkit-scrollbar-thumb {
    background: #4d547d;
    border-radius: 100vw;
}

body::-webkit-scrollbar-thumb:hover {
    background: #4d547d;
}

@media screen and (prefers-reduced-motion: reduce) {
    * {
        scroll-behavior: auto;
    }
}