<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Richdollar | authentication</title>
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
      html { margin: 0; padding: 0; } body { margin: 0; height: 20vh;
      font-family: 'Inter', sans-serif; }
    </style>
  </head>

  <body
    style=" width:100%; display: grid; place-items: start; gap: 0; background-color: #191F45; color: white;"
  >
    <main style="gap: 1rem; padding: 0 1rem;">
      <header style=" padding: 0.5rem 0; color: gold; padding: 1rem 0;">
        <h2>Richdollar</h2>
      </header>
      <a
        href=" {{url}}"
        style="padding: 0.5rem 1rem; background: sky-blue; color: black; background-color: #ffe3a3; border-radius: 8px; cursor: pointer; font-weight: bold; text-decoration: none;"
      >
        Authenticate Yourself</a>
      <p style="padding: 1rem 0;">Upon clicking the above button your
        authentication will be automatically completed.</p>
    </main>
  </body>

</html>