<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Richdollar | authentication</title>
  </head>

  <body
    style=" width:100%; display: grid; place-items: center; gap: 0; background-color: #191F45; color: white;"
  >
    <main style="gap: 1rem;">
      <header style=" margin: 1rem; color: gold; padding: 1rem 0;">
        <h2>Richdollar</h2>
      </header>
      <p style="margin: 1rem;">Congratulations, Your transaction was approved.
        The amount will be credited in a short while!</p>
      <a
        href=" {{url}}"
        style="margin: 1rem; padding: 1rem 0; background: sky-blue; color: black; background-color: #ffe3a3; border-radius: 8px; cursor: pointer; font-weight: bold; text-decoration: none;"
      >
        Go to profile</a>
    </main>
  </body>

</html>